@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;800&family=Open+Sans:wght@400;800&display=swap');

/* CSS variables */
:root {
    --red: #F2294E;
    --blue: #007bff;
    --green: #A6FF00;
    --gray: #202930;
    --h1: 72px;
    --h2: 54px;
    --h3: 48px;
    --h4: 40px;
    --h5: 28px;
    --h6: 22px;
}

* {
	font-family: 'Open Sans', sans-serif;
	transition: 50ms all ease-in-out;
	outline: 0 !important;
}

body {
    background: #fff;
    color: var(--gray);
}

p {
    font-size: 1.2rem;
}

/* HEADER FONT */
h1, h2, h3, h4, h5, h6, 
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    color: #202930;
    letter-spacing: 0;
}

/* HEADER SIZES */
h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-size: var(--h4); }
h5 { font-size: var(--h5); }
h6 { font-size: var(--h6); }


/* FONT UTILITY CLASSES */
.fw800 { font-weight: 800; }
.fw600 { font-weight: 600; }
.fw400 { font-weight: 400; }

.fs1-5 { font-size: 1.5rem; }
.fs2 { font-size: 2rem; line-height: 1.3em;}

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }

.text-shadow-dk { text-shadow: 1px 1px 10px rgba(0,0,0,.3); }
.text-shadow-lt { text-shadow: 1px 1px 10px rgba(255,255,255,.5); }

.underline { text-decoration: underline; }
.italic { font-style: italic; }

.left-align { text-align: left; }
.center-align { text-align: center; }
.right-align { text-align: right; }


/* COLORS */
.silver { color: #c1c8d3; }
.red{ color: var(--red); }
.bg-red { background: var(--red); }
.white { color: white; }
.hl-green { color: var(--green); }
.dk-blue { color: var(--gray); }
.gray { color: var(--gray); }
.inherit-color { color: inherit !important; }


/* LINKS AND BUTTONS */
a { }
a:hover {}

a.red {}
a.red:hover {
    color: var(--red);
}

/* Red Buttons */
.bottle-styled-pages button,
.bottle-styled-pages button.btn,
.bottle-styled-pages button.btn.site-btn,
.bottle-styled-pages .cart-option a.btn,
.bottle-styled-pages a.btn.btn-red {
	cursor: pointer;
	border: 4px solid var(--red) !important;
	border-radius: 4px !important;
	color: #fff;
    background-color: var(--red);
    white-space: normal !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

/* .bottle-styled-pages button:hover,
.bottle-styled-pages button.btn:hover,
.bottle-styled-pages .cart-option a.btn:hover {
	background-color: transparent;
	color: var(--red);
} */


/* Green Buttons */
.bottle-styled-pages button.btn-green,
.bottle-styled-pages button.btn.btn-green,
.bottle-styled-pages .cart-option a.btn.btn-green,
.bottle-styled-pages a.btn.btn-green {
	cursor: pointer;
	border: 4px solid var(--green);
	border-radius: 4px !important;
    background-color: var(--green);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}


/* .bottle-styled-pages button.btn-green:hover,
.bottle-styled-pages button.btn.btn-green:hover,
.bottle-styled-pages .cart-option a.btn.btn-green:hover {
	background-color: transparent;
	color: var(--green);
} */


/* disabled */
.bottle-styled-pages button.btn-disabled,
.bottle-styled-pages .cart-option a.btn.btn-disabled {
	background-color: #a0a0a0;
    color: #fff;
    border: 4px solid #a0a0a0;
	cursor: not-allowed;
}



/* LISTS */
.bottle-styled-pages .styled-list {
    margin: 30px 0;
    font-size: 1.2em;
}
.bottle-styled-pages .styled-list li {
    padding-left: 25px;
    margin-bottom: 12px;
    list-style-type: none;
}
.bottle-styled-pages .styled-list.checkmark li {
    background: url("/salespages/blender-bottle/img/tick-icon-2.png") no-repeat left top 5px;
}
.bottle-styled-pages .styled-list.checkmark.white li {
    background: url("/salespages/blender-bottle/img/tick-icon-w.png") no-repeat left top 5px;
}

.bottle-styled-pages .checkmark2 {
    background: url("/salespages/blender-bottle/img/tick-icon-2.png") no-repeat left center;
    min-width: 20px;
    min-height: 20px;
    /* display: inline-block; */
}


/* GENERAL */
.accent-border-left {
    border-left: 10px solid var(--gray);
    padding-left: 20px;
}
.accent-border-right {
    border-right: 10px solid var(--gray);
    padding-right: 20px;
}
.accent-border-sm {
    border-left: 10px solid black;
    display:block;
    margin:auto;
}

sup {
    color: lightgray;
    font-size: .6em;
    top: -.4em !important;
}

.dont-break {
    display: inline-block;
}

.gray-gradient {
    /* FF3.6-15 */
    background: -moz-linear-gradient(top,#D2D4D6 0%, rgba(255,255,255,0) 200px);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, #D2D4D6 0%, rgba(255,255,255,0) 200px);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(180deg, #D2D4D6 0%, rgba(255,255,255,0) 200px);
}

.quantity-container {
    display: flex;
    justify-content: center;
    background-color: #F4F4F5;
    border-radius: 16px;
    font-size: 28px;
    font-weight: 600;
}

.bottle-styled-pages .option-area .quantity-text,
.quantity-text {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.quantity-incrementor {
    color: #6D7278;
    cursor: pointer;
}

.quantity-value {
    text-align: center;
    border: none;
    font-weight: 600;
    background-color: #F4F4F5;
    padding: 5px;
    vertical-align: middle;
    line-height: 1.5em;
}

/* SECTIONS */
.section-wrapper {
    overflow: hidden;
}

.desktop-header .title-hdr,
.mobile-header .title-hdr {
    line-height: 33px;
}
.desktop-gallery {
    display: flex;
    flex-direction: column;
}

.desktop-gallery-mask {
    border: 1px solid #D2D4D6;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}

.desktop-gallery-item {
    height: 80px;
    width: 80px;
    cursor: pointer;
}



.flip-splashbottle-mobile {
    /* transform: rotate(55deg);
    position: relative;
    width: auto;
    height: 600px; */
}

.flip-whisk-desktop {
    width: 31%;
}
.flip-whisk-mobile {
    width: 80%;
}

.flip-lid-desktop {
    width: 55%;
    transform: rotate(135deg)
}


.flip-lid-mobile {
    /* width: 55%; */
    transform: rotate(135deg)
}

.section-container-mobile {
    padding: 90px 30px;
}

.section-header-mobile {
    font-size: 48px;
    line-height: 38px;
}


.line {
	border-top: 3px solid #30353b;
    width: 250px;
    position: relative;
    right: 30px;
    margin-top: 85px;
}

.line:before {
	content: "";
	width: 10px;
	height: 10px;
	background: #30353b;
	border-radius: 5px;
	position: absolute;
	top: -7px;
}


.line-right {
	border-top: 3px solid #30353b;
    width: 125px;
    position: relative;
    right: -10px;
    margin-top: 85px;
}

.line-right:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #30353b;
	border-radius: 5px;
	position: absolute;
    top: -7px;
    right: 0;
}



.section-container-desktop {
    /* max-width: 60%; */
}

.section-header-desktop {
    font-size: 100px;
    line-height: 85px;
    margin-bottom: 16px;
}
.section-text-desktop {
    font-size: 18px;
}



.section-nutrition .section-container-desktop {
    max-width: unset;
}
.section-nutrition .right-side {
    /* margin-left: -20%; */
    position: absolute;
    left: 60%;
}
.section-nutrition .line {
    max-width: 6vw;
    left: -100px;
    top: 80px;
}
.flip-splashbottle-desktop {
    /* transform: rotate(55deg); */
    position: relative;
    /* right: 565px; */
    /* width: 1050px;
    height: 1050px; */
    max-height: 1000px;
    width: auto;
    left: -30%;
}



.after-banner {
    display: none;
}

.bottle-styled-pages section {
    padding: 0 5vw;
    margin: 25px auto;
}
.bottle-styled-pages section.video-banner,
.bottle-styled-pages div.video-banner {
    padding: 0;
    margin: 0 auto;
}

.asset-container {
	height: 700px;
    overflow: hidden;
    position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-block {
	height: 700px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.img-block-2-col,
.img-block-2-col.row {
    min-height: 50vw;
    margin: 0;
    padding: 0;
}
.img-block-sm {
    height: 500px;
    max-width: 1000px;
    margin: auto;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.current-image {
    height: 500px;
    width: auto;
    margin: 25px 0;
}

video.video-banner {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: auto;
    max-height: 1600px;
    object-fit: contain;
    border:none !important;
    outline: none !important;
}

.bottle-styled-pages section.videoBanner {
	padding: 0;
	margin: 0 auto -10px;
}

.bottle-hero-image {
    background: url('/salespages/blender-bottle/img/vince-drink-bottle2.jpg') no-repeat 50% top / cover;
    height: 60vw;
    max-height: 900px;
    max-width: 1600px;
    margin: auto;
}
.bottle-hero-text {
	height: 100%;
}


.img-kelly-hold-bottle {
	background-image: url('/salespages/blender-bottle/img/kelly-hold-bottle.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
}
.img-kelly-hold-bottle-w-specs {
	background-image: url('/salespages/blender-bottle/img/kelly-hold-bottle-w-specs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: left 50%;
    height: 600px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
}

.img-vince-mix-preworkout {
	background-image: url('/salespages/blender-bottle/img/vince-mixing-preworkout.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.img-kelly-stretch-bottle {
	background-image: url('/salespages/blender-bottle/img/kelly-stretch-bottle-foreground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.img-vince-against-black-wall {
	background-image: url('/salespages/blender-bottle/img/vince-against-black-wall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
	align-items: center;
	justify-content: center;
    min-height: 600px;
}
.img-vince-against-black-wall .left-col {
    text-align: left;
    color: white;
    padding: calc(5vw + 30px);
    padding-right: 0;
    text-shadow: 
        0 0 10px rgba(0,0,0,.3),
        2px 2px 2px rgba(0,0,0,.5);
}
.img-vince-white-couch {
    /* FF3.6-15 */
    background: 
        -moz-linear-gradient(left, rgba(255,255,255,.6) 0%,rgba(255,255,255,.6) 30%, rgba(255,255,255,0) 50%),
        url('/salespages/blender-bottle/img/vince-white-couch.jpg');
    /* Chrome10-25,Safari5.1-6 */
    background: 
        -webkit-linear-gradient(left, rgba(255,255,255,.6) 0%,rgba(255,255,255,.6) 30%,rgba(255,255,255,0) 50%),
        url('/salespages/blender-bottle/img/vince-white-couch.jpg');
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: 
        linear-gradient(to right, rgba(255,255,255,.6) 0%,rgba(255,255,255,.6) 30%,rgba(255,255,255,0) 50%),
        url('/salespages/blender-bottle/img/vince-white-couch.jpg');

	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
	align-items: center;
	justify-content: center;
    min-height: 600px;
}
.img-vince-white-couch .left-col {
    text-align: left;
    color: black;
    padding: calc(5vw + 30px);
    padding-right: 0;
    text-shadow: 
        0 0 10px rgba(255,255,255,.5),
        1px 1px 1px rgba(255,255,255,.5);
}
.img-vince-balcony-w-bottle {
	background-image: url('/salespages/blender-bottle/img/vince-balcony-w-bottle.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.img-bottle-nicks-postworkout {
	background-image: url('/salespages/blender-bottle/img/bottle-nicks-postworkout.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.img-vince-carry-loop {
	background-image: url('/salespages/blender-bottle/img/vince-carry-loop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nutrition-on-go.right-col {
    text-align: left;
    padding: calc(5vw + 30px);
    background: #f5f5f5;
}
.photo-carousel-wrap {
	overflow:hidden;
}
.photo-carousel img {
	max-height: 450px;
	margin: auto;
}
.img-btm-img {
	background-image: url('/salespages/blender-bottle/img/bottom-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% top ;
}

.bb-reg { 
    color: inherit !important; 
    font-family: sans-serif;
    font-weight: 600;
}

/* CART OPTIONS  */
.cart-option {
    padding: 20px;
    /* box-shadow: 0 5px 15px 0 rgba(0,0,0,.15); */
    /* border: 1px solid #eee; */
    text-align: center;
    height: 100%;
    margin: 10px auto;
}
.bottle-styled-pages .prod-option img {
    max-width: 90%;
    margin: 0 auto;
    /* keep our images same height */
    /* max-height: 345px; */
}
.bottle-styled-pages .prod-option img.wide-img {
    max-width: 100%;
    margin: 0 auto;
}
.bottle-styled-pages .option-area * {
    font-family: 'Barlow Condensed', sans-serif;
}

.bottle-styled-pages .option-area select {
    height: unset;
    padding: .15rem .75rem;
}
.bottle-styled-pages .option-area{
    padding: 0;
    /* background: linear-gradient(180deg, #D2D4D6 0%, rgba(255,255,255,0) 200px); */
}
.bottle-styled-pages .option-area .option-container {
    width: 100%;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Link Buttons */
.bottle-styled-pages .cart-option a,
.bottle-styled-pages .cart-option a.btn {
	cursor: pointer;
	border: 4px solid var(--red) !important;
	border-radius: 4px !important;
	color: #fff;
    background-color: var(--red);
    white-space: normal !important;
    max-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
}

/* Green Buttons */
.bottle-styled-pages a.btn-green,
.bottle-styled-pages a.btn.btn-green {
	cursor: pointer;
	border: 4px solid var(--green) !important;
	border-radius: 4px;
	color: var(--gray);
    background-color: var(--green);
    padding-top: 12px;
    padding-bottom: 12px;
}
/* 
.bottle-styled-pages .cart-option a.btn-green:hover,
.bottle-styled-pages .cart-option a.btn.btn-green:hover {
	background-color: transparent;
	color: var(--green);
} */

.bottle-styled-pages .cart-option a.site-btn .orig-price,
.bottle-styled-pages .cart-option button.site-btn .orig-price {
    margin-right: 20px;
    text-decoration: line-through;
    opacity: .8;
}

.bottle-styled-pages a.btn-no-thanks,
.bottle-styled-pages a.btn-no-thanks * {
    font-weight: 400;
    padding: 20px 0;
    margin: auto;
    white-space: normal !important;
}

.bottle-styled-pages .cart-option .card-top.bottle-style,
.bottle-styled-pages .card-top.bottle-style {
    margin: 20px 0 10px 0;
    display: block;
}
.bottle-styled-pages .cart-option .card.bottle-style,
.bottle-styled-pages .card.bottle-style  {
    border: none;
    margin: 0 auto;
    background: none;
}
.bottle-styled-pages .guarantee,
.bottle-styled-pages .prod-option img.guarantee {
    max-width: 150px;
}
.bottle-styled-pages .single-option-gua {
    position: absolute;
    width: 100px;
    margin: 0 !important;
    right: 10px;
    top: 10px;
}

.bottle-styled-pages .prod-option {
}

.bottle-styled-pages .prod-option img.vs-logo {
    width: 100px;
    max-width: 100%;
    margin: auto;
}
.no-flav-select-spacer {
    height: 30px;
    display: block;
}

.bottle-styled-pages .option-area .option-price .current-price .price {
    line-height: 1em;
    font-size: 20px;
}
.bottle-styled-pages .section-top .option-area button.btn-green ,
.bottle-styled-pages .section-top .option-area button.btn.btn-green,
.bottle-styled-pages .section-top .option-area .cart-option a.btn.btn-green,
.bottle-styled-pages .section-top .option-area a.btn.btn-green {
    cursor: pointer;
	border: 4px solid var(--green) !important;
	border-radius: 4px !important;
    background-color: var(--green);
    font-weight: 800;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 320px;
    font-family: 'Open Sans', sans-serif !important;
    color: var(--gray);
}
/* END CART */



/* ###### FOOTER ######*/
.sp-footer {
    color: #898989 !important;
    background-color: #eee !important;
    border-top: 1px solid #898989 !important;
    border-bottom: 1px solid #898989 !important;
    font-size: 12px !important;
    color: #898989 !important;
    font-family: Arial,Helvetica,sans-serif;
}
.sp-footer a {
    color: #898989 !important;
}
.sp-footer .container img {
    height: 20px !important;
}

.sp-footer ul {
    padding: 0 0 0 8px !important;
}




/*RESPONSIVE STARTS HERE*/
@media only screen and (min-width: 1600px) {
    .img-block {
        height: 1000px;
    }
    .img-block.img-btm-img {
        height: 2000px;
    }
}
@media only screen and (min-width: 1400px) {
    .img-block {
        height: 900px;
    }
    .img-block.img-btm-img {
        height: 1200px;
    }
    .section-nutrition .line {
        max-width: 80px;
    }
}

@media only screen and (max-width: 1399px) {
    .img-block.img-btm-img {
        height: 900px;
    }
    .section-lump .line {
        width:200px;
    }
    .section-lump .section-container-desktop {
        max-width: 80%;
    }
    .flip-splashbottle-desktop {
        left: -30%;
        max-height: 900px;
    }
}

/*MAX WIDTH SSTARTS FROM 1199*/
@media only screen and (max-width: 1199px) {
    h1 { font-size: var(--h1); }
    h2 { font-size: var(--h2); }
    h3 { font-size: var(--h3); }
    h4 { font-size: var(--h4); }
    h5 { font-size: var(--h5); }
    h6 { font-size: var(--h6); }

    .img-block.img-btm-img {
        height: 800px;
    }

    .section-lump .line {
        width:150px;
    }
    .section-lump .section-container-desktop {
        max-width: 100%;
    }
    .section-header-desktop {
        font-size: 80px;
        line-height: 65px;
        margin-bottom: 16px;
    }
    .flip-splashbottle-desktop {
        left: -35%;
        max-height: 800px;
    }
    .one-off-price-pad-fix {
        padding-top: 0 !important;
    }
}

/*MAX WIDTH SSTARTS FROM 991*/
@media only screen and (max-width: 991px) {
    /* h1 { font-size: calc(var(--h1) - 5px); }
    h2 { font-size: calc(var(--h2) - 5px); }
    h3 { font-size: calc(var(--h3) - 5px); }
    h4 { font-size: calc(var(--h4) - 5px); }
    h5 { font-size: calc(var(--h5) - 5px); }
    h6 { font-size: calc(var(--h6) - 5px); } */
    .img-block {
        height: 600px;
    }
    .bottle-styled-pages .option-area .option-price .current-price > span {
        display: block;
    }
    .cart-option {
        padding: 20px 0;
    }
    .flip-lid-mobile {
        width: 55%;
    }
    .section-lump .line {
        width:150px;
    }
    .section-lump .section-container-desktop {
        max-width: 100%;
    }
    .one-off-price-pad-fix {
        padding-top: 25px !important;
    }
    .section-nutrition .right-side {
        left: 60%;
    }
}

@media only screen and (max-width: 800px) {
    .section-nutrition .right-side{
        left: 55%;
    }

}

/*MAX WIDTH SSTARTS FROM 767*/
@media only screen and (max-width: 767px) {
    /* h1 { font-size: calc(var(--h1) - 10px); line-height: 1em; }
    h2 { font-size: calc(var(--h2) - 10px); line-height: 1em; }
    h3 { font-size: calc(var(--h3) - 10px); line-height: 1em; }
    h4 { font-size: calc(var(--h4) - 10px); line-height: 1em; }
    h5 { font-size: calc(var(--h5) - 10px); line-height: 1em; }
    h6 { font-size: calc(var(--h6) - 10px); line-height: 1em; } */

    .bottle-styled-pages .styled-list {
        margin: 20px 0;
    }
    .bottle-styled-pages .prod-option .prod-hdr {
        position: absolute;
        height: 30px;
    }

    .nutrition-on-go.right-col {
        /* FF3.6-15 */
        background: 
            -moz-linear-gradient(left, rgba(255,255,255,.6) 0%, rgba(255,255,255,.8) 100%),
            url('/salespages/blender-bottle/img/vince-carry-loop.jpg');

        /* Chrome10-25,Safari5.1-6 */
        background: 
            -webkit-linear-gradient(left, rgba(255,255,255,.6) 0%,rgba(255,255,255,.8) 100%),
            url('/salespages/blender-bottle/img/vince-carry-loop.jpg');

        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: 
            linear-gradient(to right, rgba(255,255,255,.6) 0%,rgba(255,255,255,.8) 100%),
            url('/salespages/blender-bottle/img/vince-carry-loop.jpg');

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .bottle-styled-pages .prod-option img {
        max-width: 70%;
    }
    .cart-option {
        padding: 20px;
    }
    .img-block.img-btm-img {
        height: 700px;
    }
    .flip-lid-mobile {
        width: unset;
    }
    .one-off-price-pad-fix {
        padding-top: 0 !important;
    }
    .section-nutrition .right-side{
        left: 55%;
    }
 }

 @media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 575px) {
    .img-block {
        height: 400px;
    }

    .cart-option img.wide-img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 550px) {


}
        
@media only screen and (max-width: 400px) {
    /* h1 { font-size: calc(var(--h1) - 15px); }
    h2 { font-size: calc(var(--h2) - 15px); }
    h3 { font-size: calc(var(--h3) - 15px); }
    h4 { font-size: calc(var(--h4) - 15px); }
    h5 { font-size: calc(var(--h5) - 15px); }
    h6 { font-size: calc(var(--h6) - 15px); } */
    .bottle-styled-pages .prod-option h4 {
        /* font-size: 24px; */
    }
    .bottle-styled-pages .prod-option h5 {
        /* font-size: 20px; */
    }
    .bottle-styled-pages .prod-option {
        margin-top: -10px;
    }
    .bottle-styled-pages .prod-option-1 {
        margin-top: -30px;
    }
    .bottle-styled-pages .cart-option a.btn.btn-green, 
    .bottle-styled-pages a.btn-green,
    .bottle-styled-pages a.btn.btn-green {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .option-price {
        padding: 4px 0;
    }
    .best-deals-hdr {
        font-size: 33px !important;
    }

    .quantity-value {
        padding: 15px;
        vertical-align: top;
        line-height: 1.8em;
    }
    .quantity-incrementor {
        padding-top: 5px;
    }
}