/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body.for-1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4;
    color: #222222;
    font-weight: 400;
}
.for-1 img{
    max-width: 100%;
}
.for-1 .red{
    color:#f81741;
}
.for-1 .blue{
    color:#00b1ef;
}
.for-1 h1, .for-1 h2, .for-1 h3, .for-1 h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}
.for-1 h2{
    font-size: 48px;
    margin: 0;
    margin-bottom: 30px;
}
.for-1 h1 {
    font-size: 42px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 30px;
}
.for-1 h3{
    font-size: 28px;
}
.for-1 h4{
    font-size: 24px;
}
.for-1 h5 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}
.for-1 p {
    line-height: 1.3;
    margin-bottom: 30px;
}
.for-1 p > b{
    font-weight: 900;
}
.for-1 .fa {
    margin-right: 7px;
    font-size: 18px;
    position: relative;
}
.for-1 .area-header {
    text-align: center;
    padding: 30px 0;
    color: #fff;
}
.for-1 .area-header p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.for-1 .pink-header {
    background: #f81741;
}
.for-1 .lonh-header {
    padding-bottom: 115px;
}
.for-1 .black-header {
    background: #000;
}
.for-1 .area-header .red {
    width: 90%;
    margin: 0 auto;
}
.for-1 .push-top {
    position: relative;
    margin-top: -105px;
}
.for-1 .area-header h3 {
    width: 82%;
    margin: 0 auto;
}

/* ==========================================================================
   Banner styles
   ========================================================================== */

.for-1 .banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/banner-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/banner-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/banner-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/banner-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/banner-bg.jpg) no-repeat center center / cover;*/
    padding-top: 45px;
    text-align: center;
    color: #fff;
    padding-bottom: 150px;
}
.for-1 .banner-Video {
    margin: 25px 0;
}
.for-1 .banner-content h3 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.for-1 .banner-content p {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
}

/* ==========================================================================
   Content one styles
   ========================================================================== */
.for-1 .section-1 h2 {
    padding-top: 75px;
    position: relative;
    display: block;
    /*text-transform: unset;*/
    margin-bottom: 30px;
    font-size: 40px;
}
.for-1 .desktop-img {
    min-width: calc(100% + 86px);
    margin-left: -45px;
}




/*section-2*/

.for-1 .section-2-bg-text {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-2-text-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-2-text-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-2-text-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-2-text-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/section-2-text-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding: 50px 50px 120px 50px;
    text-align: center;
}


/*section 3*/
.for-1 .section-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-3.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-3.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-3.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-3.jpg") no-repeat center center / cover;

    /*background: url(../img/section-3.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding: 50px 0;
}
.for-1 .section-3 p.text-center {
    margin-bottom: 45px;
}


/*section 4*/
.for-1 .section-4 {
    padding: 50px 0 25px 0;
}
.for-1 .section-4 .row {
    margin-top: 50px;
}





.for-1 .section-6-footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-6-img-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-6-img-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-6-img-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-6-img-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/section-6-img-bg.jpg) no-repeat center center / cover;*/
    
    color: #fff;
    padding: 0;
    margin-top: 285px;
}
.for-1 .section-6 .double-text {
    margin-top: 50px;
}

.for-1 .section-6 .double-text .double-texts {
    margin-top: 30px;
}
.for-1 .section-6-footer img {
    margin-top: -320px;
    position: relative;
}
.for-1 .section-6 .double-text .double-texts {
    padding-top: 50px;
}

.for-1 .section-6-footer-text {
    padding: 50px 0 35px 0;
}
.for-1 .section-7 .text-center.red {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}




/*section 8*/
.for-1 .section-8 .double-text {
    margin-top: 56px;
}
.for-1 .section-8-footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-8-img-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-8-img-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-8-img-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-8-img-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/section-8-img-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding: 0;
    margin-top: 285px;
}
.for-1 .section-8-footer img {
    position: relative;
    margin-top: -300px;
}






.for-1 .section-9-top {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/9-1-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding: 60px 0 20px 0;
}



/*section 10*/
.for-1 .section-10-top{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/9-1-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/9-1-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding: 0;
}
.for-1 .section-10-top-texts img {
    margin-top: 125px;
    margin-bottom: 50px;
}
.for-1 .section-10-top .double-text img {
    margin-left: 25px;
}

.for-1 .section-10-1, .section-10-3 {
    padding: 50px 0;
}
.for-1 .section-10-2{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.2)), to(rgba(255, 0, 0, 0.2))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-2.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-2.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-2.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-2.jpg") no-repeat center center / cover;

    /*background: url(../img/section-10-2.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:50px 0;
}
.for-1 .section-10-2 p{
    /*width: 75%;*/
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}


.for-1 .section-10-4{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-4.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-4.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-4.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-4.jpg") no-repeat center center / cover;

    /*background: url(../img/section-10-4.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:50px 0;
    text-align: center;
}
.for-1 .section-10-3 p {
    /*width: 75%;*/
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
.for-1 .section-10-4 p {
    /*width: 75%;*/
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}

.for-1 .section-10-5 {
    padding: 50px 0;
}
.for-1 .section-11-1{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-6.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-6.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-6.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-10-6.jpg") no-repeat center center / cover;

    /*background: url(../img/section-10-6.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:100px 0;
}
.for-1 .double-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 30px 0;
}
.for-1 .double-center-left p{
    margin:0;
    margin-right: 50px
}
.for-1 .double-center-right p{
    margin:0;
    margin-left: 50px
}

.for-1 .section-11-1 h3 {
    margin-top: 50px;
}
.for-1 .section-11-1 p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
.for-1 .section-11-1 h4 {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.for-1 .site-btn {
    display: inline-block;
    background: #fc5f21;
    color: #fff;
    padding: 25px 40px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}
.for-1 .site-btn:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,.5)
}




.for-1 .section-11-2 {
    padding: 60px 0;
}
.for-1 .section-12-1{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.2)), to(rgba(255, 0, 0, 0.2))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-11-2.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-11-2.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-11-2.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-11-2.jpg") no-repeat center center / cover;

    /*background: url(../img/section-11-2.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:60px 0 150px;
    text-align: center;
}
.for-1 .section-12-1 p {
    /*width: 80%;*/
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
.for-1 .section-12-2 .push-top {
    margin-top: -150px;
}
.for-1 .section-12-2 h3 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.for-1 .section-12-2 {
    padding-bottom: 40px;
}


.for-1 .section-13{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-13-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-13-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-13-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/section-13-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/section-13-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:100px 0 70px;
    text-align: center;
}
.for-1 .section-13 h3 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}


.for-1 .section-13 a{
    margin-bottom: 50px;
}
.for-1 .section-13 p {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}
.for-1 .section-14 h3 {
    padding-top: 20px;
}
.for-1 .section-14 .area-header.pink-header {
    margin-bottom: 50px;
}
.for-1 .section-14 .area-header.pink-header h2, .for-1 .section-15 .black-header h2{
    margin-bottom: 0px;
}


.for-1 .section-15 .double-text {
    padding-top: 60px;
}
.for-1 .section-15 .double-text img {
    position: relative;
    margin-top: -160px;
}


.for-1 .section-16{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/just-bg.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/just-bg.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/just-bg.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/just-bg.jpg") no-repeat center center / cover;

    /*background: url(../img/just-bg.jpg) no-repeat center center / cover;*/
    color: #fff;
    padding:100px 0 70px;
    text-align: center;
}
.for-1 .section-16-texts img{
    margin-bottom: 30px;
}
.for-1 .section-16-texts p {
    margin-bottom: 15px;
    width: 67%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 15px;
}
.for-1 .justfor h1 {
    line-height: 1;
    margin-bottom: 75px;
    margin-top: 75px;
}
.for-1 .justfor h1 span {
    display: block;
    font-weight: 500;
    font-size: 100px;
}
.for-1 .justfor img {
    display: block;
    width: 380px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 5px;
}
.for-1 .justfor span {
    display: block;
    width: 45%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2;
}
.for-1 .no-pad{
    padding: 0
}



.section-2 .double-text {
    margin-top: 30px;
    position: relative;
}
.for-1 .section-2 .col-sm-6 .push-top {
    position: relative;
    margin-top: -150px;
}
.for-1 .section-8 .area-header .red {
    margin-bottom: 15px;
}
.for-1 .section-8 .area-header p {
    width: 100%;
    text-align: left;
}
 .for-1 .last-area.area-header p{
    width: 100%;
    text-align: left;
 }
/* ==========================================================================
   Content one styles
   ========================================================================== */


/*.double-area-2*/
.double-area-2 {
/*    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) repeat fixed 0 0%, rgba(0, 0, 0, 0) url("../img/bg-2.jpg") no-repeat center center / cover;
*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
