@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
/*.nav-container.hidden-xs {
    display: none;
}
.text-center-xs.space--xs {
    display: none;
}*/

main.clean-bulk-male-2018-05 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.4;
    color: #313131;
}
.clean-bulk-male-2018-05 h1, 
.clean-bulk-male-2018-05 h2, 
.clean-bulk-male-2018-05 h3, 
.clean-bulk-male-2018-05 h4, 
.clean-bulk-male-2018-05 h5, 
.clean-bulk-male-2018-05 h6{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.clean-bulk-male-2018-05 h1 {
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 20px #000;
}
.clean-bulk-male-2018-05 h4 {
    font-size: 34px;
    margin: 20px 0;
}
.clean-bulk-male-2018-05 .section h4.text-center {
    width: 80%;
    margin: 30px auto;
    font-size: 30px;
}
.clean-bulk-male-2018-05 .text-center.yellow.text-center {
    border: 3px solid #FF2207;
    padding: 16px 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.clean-bulk-male-2018-05 .section-8.section h4.text-center {
    border: 3px solid #333;
    padding: 16px 10px;
    margin: 50px auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}
.clean-bulk-male-2018-05 img{
    max-width: 100%;
}
.clean-bulk-male-2018-05 p {
    line-height: 1.4;
    margin-bottom: 30px;
}
.clean-bulk-male-2018-05 .red{
    color: #FF2207;
}
.clean-bulk-male-2018-05 .blue{
    color: #44B5FB;
}
.clean-bulk-male-2018-05 .green{
    color: #5DC900;
}
.clean-bulk-male-2018-05 .white{
    color:#fff;
}
.clean-bulk-male-2018-05 strong{
    font-weight: 900;
}
.clean-bulk-male-2018-05 .m-30{
    margin-bottom: 30px !important;
}
.clean-bulk-male-2018-05 .marker{
    background: yellow;
    font-weight: 600;
    color: #000;
    padding: 0 5px;
}
.clean-bulk-male-2018-05 .show-phone{
    display: none;
}
.clean-bulk-male-2018-05 .light{
    font-weight: 300;
}
.clean-bulk-male-2018-05 .section {
    padding: 60px 0 !important;
}
.clean-bulk-male-2018-05 .shadow {
    margin-bottom: 35px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
}


.clean-bulk-male-2018-05 .styled-list {
    list-style-type: none;
    margin: 35px 0;
    padding: 0;
}
.clean-bulk-male-2018-05 .styled-list li {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase;
}
.clean-bulk-male-2018-05 .styled-list li::after {
    content: "";
    width: 25px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 13px;
    background: #44B5FB;
}
.clean-bulk-male-2018-05 .styled-list.number li {
    margin-bottom: 30px;
    line-height: 1.6;
    padding-left: 70px;
    border: 5px solid #44B5FB;
    padding: 20px 20px 20px 100px;
    text-transform: unset ;
}
.clean-bulk-male-2018-05 .styled-list.number li::after{
    display: none;
}
.clean-bulk-male-2018-05 .styled-list.number span {
    position: absolute;
    left: 20px;
    color: #44B5FB;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
}
.clean-bulk-male-2018-05 .boxed {
    border: 5px solid rgba(0,0,0,.1);
    padding: 35px;
    font-size: 18px;
    margin-bottom: 30px;
}
.clean-bulk-male-2018-05 .right-side-image {
    width: 40%;
    margin-left: 10%;
    margin-bottom: 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
}
.clean-bulk-male-2018-05 .left-side-image {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
}
.clean-bulk-male-2018-05 .section-title {
    background: blueviolet;
    padding: 60px 20px !important;
    text-align: center; 
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,.8))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;    
    background: -webkit-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;  
    background: -o-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;   
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;
}
.clean-bulk-male-2018-05 .section-title h2 {
    margin: 0;
    color: #fff;
}
.clean-bulk-male-2018-05 .section-title-2{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,.8))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-1.jpeg") no-repeat center center / cover;
}
.clean-bulk-male-2018-05 .site-btn {
    display: inline-block;
    background: #F26522;
    color: #fff;
    border: none;
    padding: 0px 10% !important;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 3.3vw !important;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: 700;
    width: 360px;
    text-align: center;
}
.clean-bulk-male-2018-05 .site-btn:hover {
    color: #fff;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
            box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    text-decoration: none;
}
.clean-bulk-male-2018-05 .svg-inline--fa.fa-w-18 {
    width: 1.125em;
}
.clean-bulk-male-2018-05 .line-height{
    line-height: 1.6;
}





/*  ##### BANNER STYLES #####  */
.clean-bulk-male-2018-05 .banner{
    background: url(img/banner-bg.jpeg) no-repeat center center / cover;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(31, 151, 257, 0.3))) repeat  0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(31, 151, 257, 0.3)) repeat  0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(31, 151, 257, 0.3)) repeat  0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(31, 151, 257, 0.3)) repeat  0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right center / cover;
    padding: 100px 0 ;
    color:#fff;
}
.clean-bulk-male-2018-05 .site-t-tle-h2.light {
    color: #fff;
    margin: 0;
    font-size: 26px;
    text-shadow: 0 0 5px #000;
}

.clean-bulk-male-2018-05 .banner-texts {
    padding: 50px;
    background: rgba(0,0,0,.6);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    width: 70%;
}
.clean-bulk-male-2018-05 .banner-texts h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}
.clean-bulk-male-2018-05 .banner-texts p {
    font-size: 18px;
    margin-bottom: 15px;
}






.clean-bulk-male-2018-05 .section-4{    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,.8))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-3.jpeg") no-repeat center center / cover;    
    background: -webkit-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-3.jpeg") no-repeat center center / cover;  
    background: -o-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-3.jpeg") no-repeat center center / cover;   
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-3.jpeg") no-repeat center center / cover;
    padding: 100px 0 !important;
    color: #fff;
}
.clean-bulk-male-2018-05 .section-4 h3{
    color: #fff;
}
.clean-bulk-male-2018-05 .section-4 p{
    font-size: 18px;
    margin-bottom: 20px;
}
.clean-bulk-male-2018-05 .section-4 .boxed{
    background: none;
    border-color: #FF2207;
}
.clean-bulk-male-2018-05 .section-7 .boxed .styled-list li::after {
    top: 7px;
}

/*  ##### SECTION 5 STYLES #####  */
.clean-bulk-male-2018-05 .gain-items {
    padding: 50px;
    margin: 50px 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    position: relative;
    color: #fff;
}
.clean-bulk-male-2018-05 .gain-items p {
    font-size: 20px;
    margin-bottom: 20px;
}
.clean-bulk-male-2018-05 .gain-title {
    text-align: center;
    color: #44B5FB;
}
.clean-bulk-male-2018-05 .gain-title span {
    height: 80px;
    width: 80px;
    border: 4px solid #44B5FB;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

.clean-bulk-male-2018-05 .gain-item-1.gain-items{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,.9))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-1.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-1.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-1.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-1.jpg") no-repeat center center / cover;
}
.clean-bulk-male-2018-05 .gain-item-2.gain-items{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,.9))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-2.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-2.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-2.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-2.jpg") no-repeat center center / cover;
}
.clean-bulk-male-2018-05 .gain-item-3.gain-items{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,.9))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-3.jpg") no-repeat center center / cover;
    background: -webkit-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-3.jpg") no-repeat center center / cover;
    background: -o-linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-3.jpg") no-repeat center center / cover;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/g-3.jpg") no-repeat center center / cover;
}


/*  ##### SECTION 6 STYLES #####  */
.clean-bulk-male-2018-05 .section-6 {   
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.8)), to(rgba(0,0,0,.8))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-4.jpeg") no-repeat center center / cover;    
    background: -webkit-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-4.jpeg") no-repeat center center / cover;  
    background: -o-linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-4.jpeg") no-repeat center center / cover;   
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/image-4.jpeg") no-repeat center center / cover;
    padding: 100px 0 !important;
    color: #fff;

}
.clean-bulk-male-2018-05 .section-6 h2 {    
    color: #fff;
}
.clean-bulk-male-2018-05 .section-6 p { 
    font-size: 20px;
    margin-bottom: 25px;
}



/*  ##### BANNER STYLES #####  */



.clean-bulk-male-2018-05 .bonus-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 5px solid #44b5fb;
    border-radius: 10px;
    padding: 50px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
    -webkit-box-shadow: 0 0 15px 0px rgba(0,0,0,.5);
            box-shadow: 0 0 15px 0px rgba(0,0,0,.5);
}
.clean-bulk-male-2018-05 .bonus-item h3 {
    line-height: 1;
    margin-bottom: 20px;
}
.clean-bulk-male-2018-05 .bonus-item h3 span.light{
    font-size: .8em;
}
.clean-bulk-male-2018-05 .bonus-item-right .text {
    margin-left: 100px;
}
.clean-bulk-male-2018-05 .bonus-item-left .text {
    margin-right: 100px;
}
.clean-bulk-male-2018-05 .bonus-main-title {
    background: #44B5FB;
    padding: 10px;
    text-align: center;
    margin: 85px auto 55px;
    color: #fff;
    width: 70%;
}







.clean-bulk-male-2018-05 .back {
    background: url(img/back-bg.jpg) no-repeat center center / cover;
    padding: 100px 0 !important;
    color: #fff;
    margin-top: 80px;
}
.clean-bulk-male-2018-05 .back-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.clean-bulk-male-2018-05 .back-text {
    margin-left: 80px;
}
.clean-bulk-male-2018-05 .back-text h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1;
}
.clean-bulk-male-2018-05 .back-text h2 {
    margin-bottom: 25px;
}
.clean-bulk-male-2018-05 .back p {
    font-size: 24px;
    line-height: 1.4;
}








/*  ##### RESERVE STYLES #####  */
.clean-bulk-male-2018-05 .reserve {
    padding: 80px 0 !important;
    text-align: center;
}
.clean-bulk-male-2018-05 .reserve-title img{
    margin: 25px 0
}
.clean-bulk-male-2018-05 .img-separator {
    margin: 30px 0;
    margin-bottom: 75px;
    font-size: 16px;
}
.clean-bulk-male-2018-05 .delete {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 25px;
}

.clean-bulk-male-2018-05 .card-btm {
    display: block;
    margin: 20px 0 10px;
}
.clean-bulk-male-2018-05 .text-for-img span {
    display: block;
    font-weight: 400;
    font-size: 45px;
}
.clean-bulk-male-2018-05 .text-for-img {
    color: #333;
    line-height: 1.3 !important;
    margin-bottom: 70px !important;
}
.clean-bulk-male-2018-05 .v-card {
    height: 30px;
    margin: 0;
    margin-bottom: 5px;
}
.clean-bulk-male-2018-05 .prv {
    height: 60px;
    display: block;
    margin: 10px auto 0;
}
.clean-bulk-male-2018-05 .reserve .site-btn {
    width: auto;
    padding: 10px 100px;
}
.clean-bulk-male-2018-05 .reserve h4 {
    width: 70%;
    margin: 0 auto 50px;
}


.clean-bulk-male-2018-05 .bonus-item img {
    max-width: 215px;
}














@media only screen and (max-width: 1199px) { 
.clean-bulk-male-2018-05 .banner-texts {
    width: 80%;
}
.clean-bulk-male-2018-05 h1 {
    font-size: 70px;
}
.clean-bulk-male-2018-05 .right-side-image {
    margin-left: 5%;
}
.clean-bulk-male-2018-05 .left-side-image {
    margin-right: 5%;
}
}
@media only screen and (max-width: 991px) { 
.clean-bulk-male-2018-05 .site-t-tle-h2.light {
    font-size: 20px;
}
.clean-bulk-male-2018-05 h1 {
    font-size: 54px;
}
.clean-bulk-male-2018-05 main {
    font-size: 20px;
}
.clean-bulk-male-2018-05 p {
    margin-bottom: 22px;
}
.clean-bulk-male-2018-05 h4 {
    font-size: 28px;
}
.clean-bulk-male-2018-05 .banner-texts p {
    font-size: 16px;
    margin-bottom: 10px;
}
.clean-bulk-male-2018-05 .styled-list li {
    font-size: 20px;
}
.clean-bulk-male-2018-05 .styled-list li::after {
    top: 9px;
}
.clean-bulk-male-2018-05 h2, .h2 {
    font-size: 44px;
}
.clean-bulk-male-2018-05 .gain-title span {
    height: 70px;
    width: 70px;
}
.clean-bulk-male-2018-05 h3, .h3 {
    font-size: 32px;
}
.clean-bulk-male-2018-05 .back-text h2 {
    font-size: 40px;
}
.clean-bulk-male-2018-05 .back p {
    font-size: 18px;
}
}
@media only screen and (max-width: 767px) {
main.clean-bulk-male-2018-05 {
    font-size: 16px;
}
.clean-bulk-male-2018-05 p {
    margin-bottom: 15px;
}
.clean-bulk-male-2018-05 h1 {
    font-size: 40px;
    line-height: 1.2;
}
.clean-bulk-male-2018-05 h2, .h2 {
    font-size: 30px;
    line-height: 1.2;
}
.clean-bulk-male-2018-05 h3, .h3 {
    font-size: 24px;
    line-height: 1.3;
}
.clean-bulk-male-2018-05 .section h4.text-center {
    width: 100%;
    margin: 20px auto;
    font-size: 22px;
    line-height: 1.25;
}
.clean-bulk-male-2018-05 h4 {
    width: 100%;
    margin: 20px auto;
    font-size: 22px;
    line-height: 1.25;
}
.clean-bulk-male-2018-05 .banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(31, 151, 257, 0.3))) repeat 0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right -200px center / cover;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(31, 151, 257, 0.3)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right -200px center / cover;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(31, 151, 257, 0.3)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right -200px center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(31, 151, 257, 0.3)) repeat 0 0%, rgba(0, 0, 0, 0) url("img/banner-bg.jpg") no-repeat right -200px center / cover;
    padding: 40px 0;
    color: #fff;
}
.clean-bulk-male-2018-05 .banner-texts {
    width: 100%;
    padding: 25px 15px;
}
.clean-bulk-male-2018-05 .banner-texts p {
    font-size: 15px;
    margin-bottom: 10px;
}
.clean-bulk-male-2018-05 .section-1 .right-side-image {
    display: none;
}
.clean-bulk-male-2018-05 .section {
    padding: 35px 0 !important;
}
.clean-bulk-male-2018-05 .styled-list li {
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 30px;
}
.clean-bulk-male-2018-05 .styled-list li::after {
    width: 20px;
    height: 15px;
    top: 8px !important;
}
.clean-bulk-male-2018-05 .section.section-title {
    padding: 35px 15px !important;
}
/*.clean-bulk-male-2018-05 .section-2 .left-side-image {
    display: none;
}*/
.clean-bulk-male-2018-05 .boxed {
    padding: 25px 15px;
}
.clean-bulk-male-2018-05 .section-4 p {
    font-size: 16px;
    margin-bottom: 13px;
}
.clean-bulk-male-2018-05 .gain-title span {
    height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto 10px;
    line-height: 62px;
    font-size: 30px;
}
.clean-bulk-male-2018-05 .gain-items {
    padding: 25px 15px;
    margin: 50px 0;
    margin: 20px 0;
}
.clean-bulk-male-2018-05 .gain-title {
    margin-bottom: 15px;
}
.clean-bulk-male-2018-05 .gain-items p {
    font-size: 16px;
    margin-bottom: 15px;
}
.clean-bulk-male-2018-05 .section-6 p {
    font-size: 16px;
    margin-bottom: 15px;
}
.clean-bulk-male-2018-05 .boxed h4.light.blue {
    margin-top: 0;
}
.clean-bulk-male-2018-05 .styled-list.number span {
    left: 10px;
    font-size: 36px;
}
.clean-bulk-male-2018-05 .styled-list.number li {
    padding: 20px 20px 20px 60px;
}
.clean-bulk-male-2018-05 .section-9 .right-side-image {
    display: none;
}
.clean-bulk-male-2018-05 .bonus-main-title {
    padding: 14px 10px;
    margin: 40px auto 35px;
    width: 100%;
}
.clean-bulk-male-2018-05 .bonus-item {
    border-radius: 5px;
    padding: 25px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.clean-bulk-male-2018-05 .bonus-item img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
}
.clean-bulk-male-2018-05 .bonus-item-left .text {
    margin-right: 0;
}
.clean-bulk-male-2018-05 .bonus-item-right .text {
    margin-left: 0;
}
.clean-bulk-male-2018-05 .back-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    text-align: center;
}
.clean-bulk-male-2018-05 .back {
    padding: 100px 0 !important;
    color: #fff;
    margin-top: 35px;
    padding: 40px 0 !important;
}
.clean-bulk-male-2018-05 .back-wrap img {
    max-height: 170px;
}
.clean-bulk-male-2018-05 .back-text {
    margin-left: 0;
}
.clean-bulk-male-2018-05 .reserve {
    padding: 35px 0 !important;
}
.clean-bulk-male-2018-05 .site-btn {
    padding: 10px 10% !important;
    font-size: 6.3vw !important;
    line-height: 1.3 !important;
}
.clean-bulk-male-2018-05 .ft-smll {
    max-height: 165px;
    margin: 20px 0;
}
}